<!DOCTYPE html>
<!--Debe ir la directiva ng-app siempre para aplicaciones angularJS-->
<!--Se da el nombre a la aplacion-->
<html ng-app="accion">
<head>
	<!--Para que reconosca los acentos-->
	<meta charset="utf-8">
	<title>Insertar controladores en AngularJS</title>
	<!--Agrego los JS-->
	<script src="js/angular.js"></script>
	<script src="js/jquery-2.1.4.js"></script>
	<!--bootstrap se carga despues de jquery por que bootstrap usa algunos elementos de jquery-->
	<script src="js/bootstrap.js"></script>
	<!--Agrego los CSS-->
	<LINK REL=StyleSheet HREF="css/bootstrap.css" TYPE="text/css" MEDIA=screen></head>
<body>

<div ng-controller="controlador1">
<h1>Nombres</h1>
<ul>
	<li ng-repeat="nombreIndividual in nombresSimples">
		{{nombreIndividual}}
	</li>
</ul>

<h1>Heroes de accion</h1>
<ul>
	<li ng-repeat="heroe in heroes">
		{{heroe.nombre}} {{heroe.apellido}}
	</li>

</ul>


</div>

<script>
	//Declaro el modulo de mi aplicacion (en Angular)
	var miAplicacion = angular.module('accion',[])
	//Controlador de miApp
	miAplicacion.controller('controlador1',['$scope',function($scope){
		//Declarar variables
		$scope.nombresSimples=["Alois","Gardenzio","Carlos"];
		$scope.heroes=[
			{nombre:"Arnold",apellido:"Schwarzenegger"},			
			{nombre:"Sylvester",apellido:"Stallone"},
			{nombre:"Chuck",apellido:"Norris"}
		]

	}])


</script>

</body>
</html> 
